body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: rgb(39, 15, 161);
  background-color: rgb(194, 237, 223);
}


#counter {
  font-size: 2em;
  margin-bottom: 20px;
  color: blueviolet;
  size: 50vh;
}
